
header{
    background-color: #ddd;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Times New Roman', Times, serif;

}

h1{
    background-color: rgb(167, 165, 165);
    color:  rgb(64, 64, 170);
    letter-spacing: 10px;
    word-spacing: 40px;
    padding: 10px;

}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;    
}

h2{
    background-color: rgb(167,165,165);
    text-transform: uppercase;
    color: rgb(177, 89, 49);
    font-size: 18px;
}

span{
    font-weight: bold;
    font-style: italic;
}

footer{
    text-align: center;
    background-color: #1F497D ;
    color: silver;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 24px;
    min-height: 30px;
    margin-top:  5px ;

}    
.foto{
    width: 240px;
}
.logos{
    width: 24px;
    padding-top: 5px;
}

/*
Chicos los valores a utilizar
Fuente:  Calibri, Arial, Helvetica, sans-serif
Header fondo: #dddddd
h2 fondo: #BFBFBF
h2 tamaño fuente: 18px
footer color: #1F497D
Footer tamaño fuente: 24px